<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your Event is being reviewed</h1>
  <p>An review has been added to your event kindly check the response the user has given to your event. 

  Thanks,
  Eventify

  </p>
</body>
</html>