<div>
    <button style="margin-left: 10px; margin-top: 10px;">
        <%= link_to 'Show all Events', events_path , class: "nav-link" %>
    </button>

    <button style="margin-left: 10px; margin-top: 10px;">
        <%= link_to 'Add New Event', new_event_path , class: "nav-link" %>
    </button>
    
    <button style="margin-left: 10px; margin-top: 10px;">
        <%= link_to 'Registered Events', registrations_path , class: "nav-link" %>
    </button>    

</div>