<div class="card container" style="margin-top: 2%;">
  <div id="<%= dom_id event  %>"  >
    <p class="table container">
      <%= display_event_image(event) %>
    </p>
      <!-- Helper -->
      <%= display_event_attributes(event) %>
      
    <br>
  </div>
</div>
<br>

