<div class="card container ">
  <h1 class="card-header" style="font-family: Audiowide; text-align: center;">Add New Event</h1>

<%= render "form", event: @event ,class: "table"%>

<br>
<div>
  <%= link_to "Back to events", events_path ,class: "btn btn-info"%>
</div>
<br>

</div>