.card-container {
  display: inline-block;
  transition: transform 0.3s; /* Add a transition for smooth animation */
}

.card {
  width: 120rem;
  /* Other card styles */
}

.card-container:hover {
  transform: scale(1.05); /* Increase size by 5% on hover */
}
.card img {
  max-width: 100%;
  height: auto;
}